// bg lines
.bg-lines(data-animation="fade" data-delay="0" data-duration="2000")
  .bg-lines__line.bg-lines__line--first
  .bg-lines__line.bg-lines__line--second
  .bg-lines__line.bg-lines__line--third
  .bg-lines__line.bg-lines__line--fourth
  .bg-lines__line.bg-lines__line--fifth
