.mask-search
header.header-fixed
  .wrapper
    .main-logo
      a(href="/")
        .main-logo__img
          img(src="/img/logo_white_2.svg?ver1.0" alt="")
          .block-eye
            .eye_1
              .eye
            .eye_2
              .eye
            .eye-close
            .eye-close.eye-close_2
        span.header-slogan
          | познавательный
          br
          |  журнал
    .header-button
      a.header-button__link.header-button__link-nav(href="#")
        span.close-subnav
          span.button-nav.active
            span
            span
            span
        span.button-nav
          span
          span
          span
    .header-button.header-button_search
      a.header-button__link.js-search(href="#")
        img(src="/img/search_white.svg?ver1.0" alt="")
    .box-search
      form(action="/")
        input.box-search__field(type="text" name="s" placeholder="Поиск на сайте" required="")
        input(type="submit" style="display:none")
      a.close-search.js-close-search(href="#")
        span
        span
    .box-favorite
      a.market-favorites(href="http://1marketplace.ru/favorites/" target="_blank")
        span
    nav.main-nav.hide-mob
      ul.main-nav-list
        li.main-nav-list__item
          a.main-nav-list__link(href="/") Статьи
        li.main-nav-list__item
          a.main-nav-list__link(href="/holidays/") Праздники
        li.main-nav-list__item
          a.main-nav-list__link(href="/pozdravleniya/") Поздравления
        li.main-nav-list__item
          a.main-nav-list__link(href="/names/") Имена
        li.main-nav-list__item
          a.main-nav-list__link(href="http://1marketplace.ru/") Маркетплейс
.mask-subnav
.box-subnav
  .box-subnav-cont
    .wrapper
      .subnav-left
        .subnav-head
          a.subnav-head__link.subnav-head__link_facebook.hide-tablet(href="https://www.facebook.com/ktochtogde.ru/" target="_blank")
            i.icon-facebook
            | Facebook
          a.subnav-head__link.subnav-head__link_vk.hide-tablet(href="https://vk.com/ktochtogde" target="_blank")
            i.icon-vk-social-network-logo
            | VKONTAKTE
          .main-aside-top.show-tablet
            a.main-aside-top__link.js-anchor(href="#subscription") Подпишитесь на рассылку
            ul.list-social
              li.list-social__item
                a.list-social__link(href="#")
                  i.icon-vk-social-network-logo
              li.list-social__item
                a.list-social__link(href="#")
                  i.icon-facebook
          a.subnav-head__link(href="#")
            i.icon-star
            | Рекламодателям
          a.subnav-head__link(href="/contacts")
            i.icon-envelope
            | Обратная связь
        .subnav-category
          ul.subnav-category-list
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/society/")
                span.subnav-category-list__link-icon
                  i.icon-family-room
                |   Общество
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/horoscope/") Гороскоп
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/love/") Дружба и любовь
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/mind/") Духовное развитие
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/law/") Законодательство
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/education/") Образование
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/psychology/") Психология
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/society/family/") Семья и дети
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/money/")
                span.subnav-category-list__link-icon
                  i.icon-money
                |  Деньги
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/money/business/") Бизнес и работа
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/money/realty/") Недвижимость
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/money/purchases/") Покупки
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/money/transport/") Транспорт
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/money/finance/") Финансы
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/lifestyle/")
                span.subnav-category-list__link-icon
                  i.icon-lifestyle
                |  Стиль жизни
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/home/") Дом и дача
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/food/") Еда
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/animals/") Животные и природа
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/lifehack/") Лайфхаки
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/travel/") Путешествия
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/humor/") Развлечения
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/sport/") Спорт
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/lifestyle/creativity/") Хобби
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/culture/")
                span.subnav-category-list__link-icon
                  i.icon-culture
                |  Культура
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/culture/art/") Искусство
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/culture/movie/") Кино и сериалы
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/culture/books/") Книги
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/culture/music/") Музыка
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/beauty/")
                span.subnav-category-list__link-icon
                  i.icon-beauty
                |  Красота
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/health/") Здоровье
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/makeup/") Макияж
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/fashion/") Показы
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/weight/") Похудение
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/style/") Стиль
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/beauty/care/") Уход
            li.subnav-category-list__item
              a.subnav-category-list__link(href="/category/digital/")
                span.subnav-category-list__link-icon
                  i.icon-digital
                |   Digital
              div(style="clear: both")
              ul
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/digital/gadgets/") Гаджеты
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/digital/games/") Игры
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/digital/web/") Интернет
                li.footer-list__item.subitem
                  a(href="http://kto-chto-gde.ru/category/digital/technologies/") Технологии
          .subnav-category_bottom
            ul.subnav-category-list.bottom
              li.subnav-category-list__item
                a.subnav-category-list__link(href="/category/tests/")
                  span.subnav-category-list__link-icon
                    i.icon-test
                  |  Тесты
              li.subnav-category-list__item
                a.subnav-category-list__link(href="/holidays/")
                  span.subnav-category-list__link-icon
                    i.icon-birthday-cake
                  |  Праздники
              li.subnav-category-list__item
                a.subnav-category-list__link(href="/pozdravleniya/")
                  span.subnav-category-list__link-icon
                    i.icon-birthday-card
                  |  Поздравления
              li.subnav-category-list__item
                a.subnav-category-list__link(href="/names/")
                  span.subnav-category-list__link-icon
                    i.icon-fat-boy-smiling
                  |  Имена
              li.subnav-category-list__item
                a.subnav-category-list__link(href="http://1marketplace.ru")
                  span.subnav-category-list__link-icon
                    i.icon-market
                  |  Маркетплейс
              li.subnav-category-list__item.market-favorites
                a.subnav-category-list__link(href="http://1marketplace.ru/favorites/" target="_blank")  Избранное 
      .subnav-right
        .subnav-right__cont
          h2 Популярные материалы
          .box-news-list
            .news-list.header--popular
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-90-lyudej-ne-otvetyat-na-eti-voprosy/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-90-lyudej-ne-otvetyat-na-eti-voprosy-580x340.jpg" alt="Тест: 90 % людей не ответят на эти вопросы")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-90-lyudej-ne-otvetyat-na-eti-voprosy/") Тест: 90 % людей не ответят на эти вопросы
                  .news-list__date
                    | 22 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/viktorianskaya-baryshnya-turgenevskaya-devushka-komsomolka-i-eshhe-neskolko-zhenskix-obrazov/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/viktorianskaya-baryshnya-turgenevskaya-devushka-komsomolka-i-eshhe-neskolko-zhenskix-obrazov-1-580x340.jpg" alt="Викторианская барышня, тургеневская девушка, комсомолка и еще несколько женских образов")
                  h3
                    a(href="http://kto-chto-gde.ru/story/viktorianskaya-baryshnya-turgenevskaya-devushka-komsomolka-i-eshhe-neskolko-zhenskix-obrazov/")
                      | Викторианская барышня, тургеневская девушка, комсомолка и еще несколько женских образов
                  .news-list__date
                    | 28 ноября
                    .view Мария Осина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-shifr-skolko-slov-vy-otgadaete-za-90-sekund/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-shifr-skolko-slov-vy-otgadaete-za-90-sekund-580x340.jpg" alt="Тест‑шифр: сколько слов вы отгадаете за 90 секунд?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-shifr-skolko-slov-vy-otgadaete-za-90-sekund/") Тест‑шифр: сколько слов вы отгадаете за 90 секунд?
                  .news-list__date
                    | 21 ноября
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/vozmozhna-li-reinkarnaciya-5-primerov-iz-zhizni/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/reinkarnaciya-vozmozhno-5-primerov-iz-zhizni-3-580x340.jpg" alt="Возможна ли реинкарнация: 5 примеров из жизни")
                  h3
                    a(href="http://kto-chto-gde.ru/story/vozmozhna-li-reinkarnaciya-5-primerov-iz-zhizni/") Возможна ли реинкарнация: 5 примеров из жизни
                  .news-list__date
                    | 29 ноября
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-soobrazitelnost-popytajtes-otvetit-xotya-by-9-15/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-soobrazitelnost-popytajtes-otvetit-xotya-by-915-580x340.jpg" alt="Тест на сообразительность: попытайтесь ответить хотя бы 9/15")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-soobrazitelnost-popytajtes-otvetit-xotya-by-9-15/") Тест на сообразительность: попытайтесь ответить хотя бы 9/15
                  .news-list__date
                    | 02 декабря
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/sokrovishha-romanovyx-chto-stalo-s-izvestnymi-dragocennostyami/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/sokrovishha-romanovyx-chto-stalo-s-izvestnymi-dragocennostyami-8-580x340.jpg" alt="Сокровища Романовых: что стало с известными драгоценностями?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/sokrovishha-romanovyx-chto-stalo-s-izvestnymi-dragocennostyami/") Сокровища Романовых: что стало с известными драгоценностями?
                  .news-list__date
                    | 02 декабря
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-po-biologii-15-slozhnyx-voprosov/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-po-biologii-15-slozhnyx-voprosov-580x340.jpg" alt="Тест по биологии: 15 сложных вопросов")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-po-biologii-15-slozhnyx-voprosov/") Тест по биологии: 15 сложных вопросов
                  .news-list__date
                    | 28 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/eti-xyugge-privychki-sdelayut-vashu-zhizn-samoj-garmonichnoj/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/xyugge-privychki-na-kazhdyj-den-4-580x340.jpg" alt="Эти хюгге‑привычки сделают вашу жизнь самой гармоничной")
                  h3
                    a(href="http://kto-chto-gde.ru/story/eti-xyugge-privychki-sdelayut-vashu-zhizn-samoj-garmonichnoj/") Эти хюгге‑привычки сделают вашу жизнь самой гармоничной
                  .news-list__date
                    | 04 декабря
                    .view Екатерина Неткачева
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-kakoj-iz-vas-filosof/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-kakoj-iz-vas-filosof-580x340.jpg" alt="Тест: какой из вас философ?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-kakoj-iz-vas-filosof/") Тест: какой из вас философ?
                  .news-list__date
                    | 24 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/eti-shifry-svodyat-s-uma-dazhe-uchenyx-i-vas-svedut/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/shifry-kotorye-svodyat-uchenyx-s-uma-580x340.jpg" alt="Эти шифры сводят с ума даже ученых. И вас сведут")
                  h3
                    a(href="http://kto-chto-gde.ru/story/eti-shifry-svodyat-s-uma-dazhe-uchenyx-i-vas-svedut/") Эти шифры сводят с ума даже ученых. И вас сведут
                  .news-list__date
                    | 01 декабря
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-nazovite-vsex-ryb-rossii/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-nazovite-vsex-ryb-rossii-580x340.jpg" alt="Тест: назовите всех рыб России")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-nazovite-vsex-ryb-rossii/") Тест: назовите всех рыб России
                  .news-list__date
                    | 29 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-intellekt-vash-mozg-vzorvetsya-ili-spravitsya/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-intellekt-vash-mozg-vzorvetsya-ili-spravitsya-1-580x340.jpg" alt="Тест на интеллект: ваш мозг взорвется или справится?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-intellekt-vash-mozg-vzorvetsya-ili-spravitsya/") Тест на интеллект: ваш мозг взорвется или справится?
                  .news-list__date
                    | 25 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-razbiraetes-li-vy-v-myase/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-razbiraetes-li-vy-v-myase-580x340.jpg" alt="Тест: разбираетесь ли вы в мясе?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-razbiraetes-li-vy-v-myase/") Тест: разбираетесь ли вы в мясе?
                  .news-list__date
                    | 23 ноября
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-pomnite-li-vy-citaty-arkadiya-rajkina/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-pomnite-li-vy-citaty-arkadiya-rajkina-580x340.jpg" alt="Тест: помните ли вы цитаты Аркадия Райкина?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-pomnite-li-vy-citaty-arkadiya-rajkina/") Тест: помните ли вы цитаты Аркадия Райкина?
                  .news-list__date
                    | 23 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-vy-smyshlenyj-chelovek-ili-net/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-vy-smyshlenyj-chelovek-ili-net-580x340.jpg" alt="Тест: вы смышленый человек или нет?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-vy-smyshlenyj-chelovek-ili-net/") Тест: вы смышленый человек или нет?
                  .news-list__date
                    | 01 декабря
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-a-vam-znakomy-starye-nazvaniya-gorodov-rossii/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-a-vam-znakomy-starye-nazvaniya-gorodov-rossii-580x340.jpg" alt="Тест: а вам знакомы старые названия городов России?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-a-vam-znakomy-starye-nazvaniya-gorodov-rossii/") Тест: а вам знакомы старые названия городов России?
                  .news-list__date
                    | 03 декабря
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-matematicheskuyu-smekalku-kakaya-drob-bolshe/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-matematicheskuyu-smekalku-kakaya-drob-bolshe-580x340.png" alt="Тест на математическую смекалку: какая дробь больше?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-matematicheskuyu-smekalku-kakaya-drob-bolshe/") Тест на математическую смекалку: какая дробь больше?
                  .news-list__date
                    | 24 ноября
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-nazovite-izvestnye-pamyatniki-rossii/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-nazovite-izvestnye-pamyatniki-rossii-580x340.jpg" alt="Тест: назовите известные памятники России")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-nazovite-izvestnye-pamyatniki-rossii/") Тест: назовите известные памятники России
                  .news-list__date
                    | 30 ноября
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-yunogo-sledopyta-ugadaj-zhivotnoe-po-sledam/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-yunogo-sledopyta-ugadaj-zhivotnoe-po-sledam-580x340.jpg" alt="Тест на юного следопыта: угадай животное по следам")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-yunogo-sledopyta-ugadaj-zhivotnoe-po-sledam/") Тест на юного следопыта: угадай животное по следам
                  .news-list__date
                    | 22 ноября
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-uznaete-li-vy-akterov-v-grime/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/test-uznaete-li-vy-akterov-v-grime-580x340.jpg" alt="Тест: узнаете ли вы актеров в гриме?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-uznaete-li-vy-akterov-v-grime/") Тест: узнаете ли вы актеров в гриме?
                  .news-list__date
                    | 01 декабря
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-vy-uvereny-v-sebe-ili-samouverenny/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-vy-uvereny-v-sebe-ili-samouverenny-580x340.jpg" alt="Тест: вы уверены в себе или самоуверенны?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-vy-uvereny-v-sebe-ili-samouverenny/") Тест: вы уверены в себе или самоуверенны?
                  .news-list__date
                    | 23 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-pomnite-li-vy-pesni-bulata-okudzhavy/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-pomnite-li-vy-pesni-bulata-okudzhavy-580x340.jpg" alt="Тест: помните ли вы песни Булата Окуджавы?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-pomnite-li-vy-pesni-bulata-okudzhavy/") Тест: помните ли вы песни Булата Окуджавы?
                  .news-list__date
                    | 27 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/istoricheskij-test-vosstanovite-xronologiyu-sobytij/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/test-istoricheskij-vosstanovite-xronologiyu-sobytij-580x340.jpg" alt="Тест по истории: восстановите хронологию событий")
                  h3
                    a(href="http://kto-chto-gde.ru/story/istoricheskij-test-vosstanovite-xronologiyu-sobytij/") Тест по истории: восстановите хронологию событий
                  .news-list__date
                    | 03 декабря
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-romantika-ugadajte-knigu-po-citate-o-lyubvi/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-romantika-ugadajte-knigu-po-citate-580x340.jpg" alt="Тест на романтика: угадайте книгу по цитате о любви")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-romantika-ugadajte-knigu-po-citate-o-lyubvi/") Тест на романтика: угадайте книгу по цитате о любви
                  .news-list__date
                    | 21 ноября
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-naskolko-vy-silny-v-astronomii/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-naskolko-vy-silny-v-astronomii-580x340.jpg" alt="Тест: насколько вы сильны в астрономии?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-naskolko-vy-silny-v-astronomii/") Тест: насколько вы сильны в астрономии?
                  .news-list__date
                    | 28 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-ugadaete-rossijskij-gorod-po-gerbu/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-ugadaete-rossijskij-gorod-po-gerbu-580x340.jpg" alt="Тест: угадаете российский город по гербу?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-ugadaete-rossijskij-gorod-po-gerbu/") Тест: угадаете российский город по гербу?
                  .news-list__date
                    | 27 ноября
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-smozhete-uznat-goroda-rossii-na-retrosnimkax/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/test-smozhete-uznat-goroda-rossii-na-retro-snimkax-580x340.jpg" alt="Тест: сможете узнать города России на ретроснимках?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-smozhete-uznat-goroda-rossii-na-retrosnimkax/") Тест: сможете узнать города России на ретроснимках?
                  .news-list__date
                    | 02 декабря
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-podberite-antonimy-k-slozhnym-slovam/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-podberite-antonimy-k-slozhnym-slovam-580x340.jpg" alt="Тест: подберите антонимы к сложным словам")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-podberite-antonimy-k-slozhnym-slovam/") Тест: подберите антонимы к сложным словам
                  .news-list__date
                    | 23 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-eto-rossijskij-gorod-ili-net/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-eto-rossijskij-gorod-ili-net-580x340.jpg" alt="Тест: это российский город или нет?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-eto-rossijskij-gorod-ili-net/") Тест: это российский город или нет?
                  .news-list__date
                    | 29 ноября
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-na-erudiciyu-15-voprosov-s-podvoxom/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-na-erudiciyu-15-voprosov-s-podvoxom-580x340.png" alt="Тест на эрудицию: 15 вопросов с подвохом")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-na-erudiciyu-15-voprosov-s-podvoxom/") Тест на эрудицию: 15 вопросов с подвохом
                  .news-list__date
                    | 30 ноября
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-vspomnite-znacheniya-ustarevshix-slov/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/test-vspomnite-znacheniya-ustarevshix-slov-580x340.jpg" alt="Тест: вспомните значения устаревших слов")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-vspomnite-znacheniya-ustarevshix-slov/") Тест: вспомните значения устаревших слов
                  .news-list__date
                    | 26 ноября
                    .view Светлана Лисицына
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/goroskop-s-3-po-9-dekabrya-2018-goda-dlya-vsex-znakov-zodiaka/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/goroskop-na-nedelyu-s-3-po-9-dekabrya-2018-goda-dlya-vsex-znakov-zodiaka-4-580x340.jpg" alt="Гороскоп с 3 по 9 декабря 2018 года для всех знаков зодиака")
                  h3
                    a(href="http://kto-chto-gde.ru/story/goroskop-s-3-po-9-dekabrya-2018-goda-dlya-vsex-znakov-zodiaka/") Гороскоп с 3 по 9 декабря 2018 года для всех знаков зодиака
                  .news-list__date
                    | 03 декабря
                    .view Екатерина Алферова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/test-o-vechnom-v-chem-smysl-zhizni/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/test-o-vechnom-v-chem-smysl-zhizni-580x340.jpg" alt="Тест о вечном: в чем смысл жизни?")
                  h3
                    a(href="http://kto-chto-gde.ru/story/test-o-vechnom-v-chem-smysl-zhizni/") Тест о вечном: в чем смысл жизни?
                  .news-list__date
                    | 04 декабря
                    .view Виктория Белощина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/12-idej-dlya-novogodnix-podarkov-s-aliexpress/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/12-idej-dlya-novogodnix-podarkov-s-aliexpress-6-580x340.jpg" alt="12 идей для новогодних подарков с AliExpress")
                  h3
                    a(href="http://kto-chto-gde.ru/story/12-idej-dlya-novogodnix-podarkov-s-aliexpress/") 12 идей для новогодних подарков с AliExpress
                  .news-list__date
                    | 04 декабря
                    .view Виктор Подволоцкий
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/kakimi-budut-novye-flagmany-samsung-galaxy-s10/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/kakimi-budut-novye-flagmany-samsung-galaxy-s10-6-580x340.jpg" alt="Какими будут новые флагманы Samsung Galaxy S10")
                  h3
                    a(href="http://kto-chto-gde.ru/story/kakimi-budut-novye-flagmany-samsung-galaxy-s10/") Какими будут новые флагманы Samsung Galaxy S10
                  .news-list__date
                    | 02 декабря
                    .view Виктор Подволоцкий
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/4-prichiny-po-kotorym-vy-nepravilno-otdyxaete/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/10/5-prichin-chto-vy-nepravilno-otdyxaete-4-580x340.jpg" alt="4 причины, по которым вы неправильно отдыхаете")
                  h3
                    a(href="http://kto-chto-gde.ru/story/4-prichiny-po-kotorym-vy-nepravilno-otdyxaete/") 4 причины, по которым вы неправильно отдыхаете
                  .news-list__date
                    | 29 ноября
                    .view Мария Осина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/kak-udalit-ili-zarisovat-tatuirovku-lajfxaki/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/kak-udalit-ili-zarisovat-tatuirovku-lajfxaki-3-580x340.jpg" alt="Как удалить или зарисовать татуировку: лайфхаки")
                  h3
                    a(href="http://kto-chto-gde.ru/story/kak-udalit-ili-zarisovat-tatuirovku-lajfxaki/") Как удалить или зарисовать татуировку: лайфхаки
                  .news-list__date
                    | 28 ноября
                    .view Мария Осина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/10-luchshix-kovorkingov-so-vsego-mira/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/12/10-luchshix-kovorkingov-mira-580x340.jpg" alt="10 лучших коворкингов со всего мира")
                  h3
                    a(href="http://kto-chto-gde.ru/story/10-luchshix-kovorkingov-so-vsego-mira/") 10 лучших коворкингов со всего мира
                  .news-list__date
                    | 03 декабря
                    .view Юлия Попова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/5-receptov-nachinok-dlya-pechenogo-kartofelya/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/5-receptov-nachinok-dlya-pechenogo-kartofelya-7-580x340.jpg" alt="5 рецептов начинок для печеного картофеля")
                  h3
                    a(href="http://kto-chto-gde.ru/story/5-receptov-nachinok-dlya-pechenogo-kartofelya/") 5 рецептов начинок для печеного картофеля
                  .news-list__date
                    | 04 декабря
                    .view Екатерина Неткачева
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/interesnye-sobytiya-v-moskve-30-noyabrya-1-i-2-dekabrya/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/interesnye-sobytiya-v-moskve-30-noyabrya-1-i-2-dekabrya-4-580x340.jpg" alt="Интересные события в Москве 30 ноября, 1 и 2 декабря")
                  h3
                    a(href="http://kto-chto-gde.ru/story/interesnye-sobytiya-v-moskve-30-noyabrya-1-i-2-dekabrya/") Интересные события в Москве 30 ноября, 1 и 2 декабря
                  .news-list__date
                    | 30 ноября
                    .view Юлия Попова
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/10-luchshix-videoigr-2018-goda-po-versii-time/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/10-luchshix-videoigr-2018-goda-po-versii-time-12-580x340.jpg" alt="10 лучших видеоигр 2018 года по версии TIME")
                  h3
                    a(href="http://kto-chto-gde.ru/story/10-luchshix-videoigr-2018-goda-po-versii-time/") 10 лучших видеоигр 2018 года по версии TIME
                  .news-list__date
                    | 28 ноября
                    .view Виктор Подволоцкий
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/8-prilozhenij-i-gadzhetov-dlya-ispravleniya-osanki/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/10/8-prilozhenij-i-gadzhetov-dlya-ispravleniya-osanki-i-snyatiya-boli-v-shee-5-580x340.jpg" alt="8 приложений и гаджетов для исправления осанки")
                  h3
                    a(href="http://kto-chto-gde.ru/story/8-prilozhenij-i-gadzhetov-dlya-ispravleniya-osanki/") 8 приложений и гаджетов для исправления осанки
                  .news-list__date
                    | 01 декабря
                    .view Мария Осина
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/8-otlichnyx-smartfonov-s-zashhitoj-ot-vody/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/10/8-otlichnyx-smartfonov-s-zashhitoj-ot-vody-1-580x340.png" alt="8 отличных смартфонов с защитой от воды")
                  h3
                    a(href="http://kto-chto-gde.ru/story/8-otlichnyx-smartfonov-s-zashhitoj-ot-vody/") 8 отличных смартфонов с защитой от воды
                  .news-list__date
                    | 01 декабря
                    .view Виктор Подволоцкий
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/6-priborov-ochistki-i-uvlazhneniya-vozduxa-v-pomeshhenii/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/6-priborov-ochistki-i-uvlazhneniya-vozduxa-v-pomeshhenii-2-580x340.jpg" alt="6 приборов очистки и увлажнения воздуха в помещении")
                  h3
                    a(href="http://kto-chto-gde.ru/story/6-priborov-ochistki-i-uvlazhneniya-vozduxa-v-pomeshhenii/") 6 приборов очистки и увлажнения воздуха в помещении
                  .news-list__date
                    | 02 декабря
                    .view Евгения Дубницкая
              article.news-list__item.post-format-default
                .news-list__cont
                  a.news-list__img(href="http://kto-chto-gde.ru/story/taktilnye-kamni-bodyrocks-dlya-tex-kto-xochet-prochuvstvovat-muzyku/")
                    img.js-img(src="http://kto-chto-gde.ru/wp-content/uploads/2018/11/taktilnye-kamni-bodyrocks-dlya-tex-kto-xochet-prochuvstvovat-muzyku-3-580x340.jpg" alt="Тактильные «камни» BodyRocks ‑ для тех, кто хочет прочувствовать музыку")
                  h3
                    a(href="http://kto-chto-gde.ru/story/taktilnye-kamni-bodyrocks-dlya-tex-kto-xochet-prochuvstvovat-muzyku/") Тактильные «камни» BodyRocks ‑ для тех, кто хочет прочувствовать музыку
                  .news-list__date
                    | 29 ноября
                    .view Виктор Подволоцкий
            a.see-all(href="/all/?orderby=popular") Посмотреть все
