mixin pillswitch(page)
  // pill switch draggable.js
  .pillswitch(js-draggable data-next-page=page)
    .pillswitch__ghost.pillswitch__ghost--left
    .pillswitch__ghost.pillswitch__ghost--right
    .pillswitch__track
    .pillswitch__control(js-draggable-control)
      .pillswitch__control-dot
