// PRELOADER
.preloader
  .preloader__wrapper
    .preloader__content
      .preloader__image
        .preloader__logo-wrapper
          .preloader__logo
            include ../../svg-inline/logo.svg
        .preloader__spinner
          include ../../svg-inline/preloader.svg
