---
title: Главная
bodyClass: homepage
---
extends shared/_layout

block content
  
  // add empty preloader block on top to hide preloader in DEV mode
  // block preloader
  
  // HOME
  .home
    .h100-section
      // background
      .h100-bg.home__bg(data-animation="scale" data-duration="1600" data-easing="ease-out")
        img(src='img/background_1.jpg' srcset='img/background_1@2x.jpg 2x')
      
      // content
      .h100-section__content
        .container
          .h100-section__content-wrapper
            .home__logo(data-animation="fade" data-duration="300" data-delay="2200")
              img(src='img/rko-logo.png' srcset='img/rko-logo@2x.png 2x')
            .home__title(data-animation="fade-up" data-duration="500" data-delay="1100" data-easing="ease-both") Величие <br> России
            .home__description(data-animation="fade-up" data-duration="600" data-delay="1600") Невероятные открытия и люди: 7<br/> удивительных фактов о космосе
            .home__cta(data-animation="fade" data-delay="2600")
              .home__cta-title Перетащите, чтобы продолжить
              .home__cta-drag
                // pill switch draggable.js
                .pillswitch(js-draggable data-next-page="about.html")
                  .pillswitch__ghost.pillswitch__ghost--left
                  .pillswitch__ghost.pillswitch__ghost--right
                  .pillswitch__track
                  .pillswitch__control(js-draggable-control)
                    .pillswitch__control-dot

      // links collection
      .home__links.links(data-animation="fade" data-delay="2600")
        .container
          .links__grid
            .links__col
              a(href="#") 
                span Космический тест: это правда или выдумка?
            .links__col
              a(href="#") 
                span Тест: возьмут ли вас в космонавты (хотя бы чисто теоретически)?
            .links__col
              a(href="#") 
                span Тест: помните ли вы советские фильмы о космосе?
            .links__col
              a(href="#") 
                span Тест: какая космическая профессия вам подойдет 
            .links__col
              a(href="#") 
                span Тест: как звучит космос?
      
