---
title: Секция 1
bodyClass: homepage
---
extends shared/_layout

block content

  // ARTICLE
  .article
    .article__navigation(data-animation="fade" data-delay="3300")
      a(href="about.html" js-nav-back).article__back
        +svgMono('back')
      a(href="homepage.html" js-nav-close).article__close
        +svgMono('close')
    
    .section-fixed(js-set-section-height)
      .h100-section
        // background
        .h100-bg(js-parallax-fixed-bg data-animation="scale" data-scale="1.3" data-duration="3000")
          img(src='img/background_3.jpg' srcset='img/background_3@2x.jpg 2x')
        
        // content
        .h100-section__content
          .container
            .h100-section__content-wrapper
              .col-4.article__title.h3-title(data-animation="fade-up" data-duration="600" data-delay="2400" data-easing="ease-both") 12 апреля 1961 года
              .col-4.article__paragraph.p-main(data-animation="fade-up" data-duration="600" data-delay="2400" data-easing="ease-both") 
                p Человек впервые поднялся в космос, положив начало эре освоения неведомого доселе пространства. Над разработкой космических аппаратов и оборудования трудились лучшие умы, а смелые космонавты, рискуя собой, совершали, казалось бы, немыслимые вещи: первыми выходили в открытый космос, первыми чинили корабли в невесомости. Циолковский и Королев, Гагарин и Титов, Леонов и Терешкова - эти имена знают во всем мире. Россия продолжает дело великой державы. Сегодня мы хотим рассказать вам о важных разработках последних лет. Дать свои комментарии любезно согласились члены Русского космического общества.
              
              blockquote.article__blockquote.col-3.blockquote(data-animation="fade-up" data-duration="600" data-delay="3000") 
                p Россия продолжает покорять космос, работая над новыми проектами как самостоятельно, так и совместно с другими странами. Мы попросили членов Русского космического общества рассказать о новых технологиях и дальнейших планах по освоению космического пространства.
              

    // scrollable content
    .section-scrollable(js-set-scroll-padding)
      // section
      .h100-section
        // background
        .h100-bg
          img(src='img/background_3-2.jpg' srcset='img/background_3-2@2x.jpg 2x')
        
        // content
        .h100-section__content.content-spacer
          .container
            .h100-section__content-wrapper
              .col-6.col-center
                .article__title.h2-title(js-onscroll data-animation="fade-up" data-duration="1000") Российские ученые протестировали новый наноспутник — что это нам дает?
                .article__paragraph.p-main(js-onscroll data-animation="fade-up" data-duration="1000")
                  p Более 60 лет тому назад, в 1957 году, СССР вывел на орбиту первый в мире искусственный спутник. Над созданием «Спутника-1» работали передовые ученые: 
                    | <span class="border-link border-link--dashed tooltip" js-tooltip-position><span>Королев</span><span class="tooltip__box"><span class="tooltip__arrow"></span><span class="tooltip__content"> <span class="person"><img src='img/korolev.jpg' alt="Королев" /> <span class="person__name">Сергей Павлович Королев</span><span class="person__description">Советский ученый, инженер-конструктор, главный организатор производства ракетно-космической техники и ракетного оружия в СССР и основоположник практической космонавтики. Одна из крупнейших фигур XX века в области космического ракетостроения и кораблестроения. Академик АН СССР.</span></span> </span></span></span>, 
                    | <span class="border-link border-link--dashed tooltip" js-tooltip-position><span>Келдыш</span><span class="tooltip__box"><span class="tooltip__arrow"></span><span class="tooltip__content"> <span class="person"><img src='img/keldish.jpg' alt="Келдыш" /> <span class="person__name">Мстислав Всеволодович Келдыш</span><span class="person__description">Советский ученый в области прикладной математики и механики, крупный организатор советской науки, один из идеологов советской космической программы. Президент Академии наук СССР. Академик АН СССР. Трижды Герой Социалистического Труда. Лауреат Ленинской премии и двух Сталинских премий.</span></span> </span></span></span>, 
                    | <span class="border-link border-link--dashed tooltip" js-tooltip-position><span>Тихонравов</span><span class="tooltip__box"><span class="tooltip__arrow"></span><span class="tooltip__content"> <span class="person"><img src='img/tihonravov.jpg' alt="Тихонравов" /> <span class="person__name">Михаил Клавдиевич Тихонравов</span><span class="person__description">Советский инженер, конструктор космической и ракетной техники, сподвижник С.П. Королева. Доктор технических наук, профессор, лауреат Ленинской премии, Герой Социалистического Труда, заслуженный деятель науки и техники РСФСР</span></span> </span></span></span> 
                    | и многие другие. Это был старт новой эпохи, благодаря которому в дальнейшем стало возможно появление беспроводной связи и Интернета.
                .article__image.article__image--parallax(js-parallax)
                  img(src='img/sputnik.png' srcset='img/sputnik@2x.png 2x')
            
      // section
      .h100-section
        // background
        .h100-bg
          img(src='img/background_3-3.jpg' srcset='img/background_3-3@2x.jpg 2x')
        
        // content
        .h100-section__content
          .container
            .h100-section__content-wrapper
              .scroll-box
                .scroll-box__scrollable(js-scrollbar)
                  .h3-title Спутники сегодня
                  .p-main
                    p На данный момент на орбите Земли находится около 1 500 искусственных спутников, благодаря которым работают навигаторы, звучат новости и проводятся банковские операции. В основном это спутники связи, обеспечивающие ее в отдаленных районах Земли. 
                    p Всем известно о системе ГЛОНАСС, но российские ученые не останавливаются на достигнутом. В 2018 году было объявлено о завершении летных испытаний, которые прошел новый наноспутники РКС, - он послужит основой для будущих аппаратов. ТНС-0 № 2, отличающийся от своих собратьев меньшим весом, был выведен на орбиту с МКС 17 августа 2017 года. После успешных летных испытаний он перешел в фазу штатной эксплуатации. Аппарат оснащен системами связи и ориентации, а также солнечной батареей.
          
          .hold-next
            .hold-next__icon(js-hold-to-next data-next-page="section-2.html")
              .hold-next__icon-dot
            .hold-next__title Нажмите и держите
            
