---
title: О РКО
bodyClass: homepage
---
extends shared/_layout

block content

  // ARTICLE
  .article
    .article__navigation(data-animation="fade" data-delay="3300")
      a(href="about.html" js-nav-back).article__back
        +svgMono('back')
      a(href="homepage.html" js-nav-close).article__close
        +svgMono('close')
    
    .section-fixed(js-set-section-height data-target="scrollable-container")
      .h100-section
        // background
        .h100-bg(data-animation="scale" data-duration="3000" data-easing="ease-both")
          img(src='img/background_4-2.jpg' srcset='img/background_4-2@2x.jpg 2x')
        
        .h100-bg.h100-bg--origin-lb(js-parallax-fixed-bg data-animation="scale" data-duration="3000" data-easing="ease-both")
          img(src='img/background_4-1.png' srcset='img/background_4-1@2x.png 2x')
        
        // content
        .h100-section__content
          .container
            .h100-section__content-wrapper.h100-section__content-wrapper--top
              .col-5.col-right.article__title.h2-title(data-animation="fade-up" data-duration="1000" data-delay="2000") Новый скафандр «Орлан-МКС» — что изменилось спустя более полувека после выхода человека в открытый космос?
              .col-5.col-right.article__paragraph.p-main(data-animation="fade-up" data-duration="1000" data-delay="2000") 
                .col-4
                  p 18 марта 1965 года человек впервые вышел в открытый космос, ознаменовав начало нового этапа в истории космонавтики. Алексей Архипович Леонов покинул корабль «Восток-2» и через 23 минуты 41 секунду вернулся обратно, став первопроходцем, благодаря которому  удалось сделать выводы о том, какие работы способен выполнять человек в открытом космосе.

        // bg lines
        .bg-lines
          .bg-lines__line.bg-lines__line--first
          .bg-lines__line.bg-lines__line--second
          .bg-lines__line.bg-lines__line--third
          .bg-lines__line.bg-lines__line--fourth
          .bg-lines__line.bg-lines__line--fifth

    // scrollable content
    .section-scrollable(js-set-scroll-padding data-for="scrollable-container")
      // section
      .h100-section
        .h100-bg
          img(src='img/background_3-2.jpg' srcset='img/background_3-2@2x.jpg 2x')
        
        // content
        .h100-section__content
          .container
            .h100-section__content-wrapper
              .row
                .col-6
                  .article__paragraph.article__paragraph--pr.p-main
                    p С тех пор многое изменилось. К сожалению, мы не оправдали надежды фантастов, которые были уверены, что уже в начале XXI века люди будут гулять по Луне и Марсу как по улицам Москвы и Парижа, — создавать технологии будущего оказалось не так просто, как думали в 60-х. Тем не менее сегодня человечество совершило огромный рывок вперед. Опыт Алексея Архиповича Леонова заставил задуматься об одном из главных агрегатов, без которых невозможна работа в открытом космосе — скафандре. 
                    p Мягкий «Беркут», в котором находился советский космонавт, раздулся сильнее, чем предполагалось, и, чтобы попасть обратно в «Восток-2», Леонову пришлось спускать воздух. После этого происшествия ученые сосредоточились на разработке полужестких скафандров, стараясь превратить их в автономные космические аппараты с системой жизнеобеспечения и бортовыми компьютерами. Одна из последних российских разработок — модель «Орлан-МКС», в программу которой заложена функция самопроверки по нескольким десяткам параметров. Проще говоря, теперь агрегат сможет самостоятельно сказать, пригоден он для выхода в космос или же нет. Также скафандр оснащен автоматической системой терморегулирования: при каждом выходе в космос он будет следить за показателями организма космонавта, автоматически корректируя температуру водяного охлаждения. Испытания «Орлан-МКС» в открытом космосе состоялись в 2017 году. Всего на МКС планируется поставить три таких скафандра - два из них уже заняли свое место на станции.
                .col-4
                  .article__image
                    img(src='img/image_4-1.png' srcset='img/image_4-1@2x.png 2x')
                  .article__image
                    img(src='img/image_4-2.png' srcset='img/image_4-2@2x.png 2x')
      
      // regular section
      .section
        .section__content
          .container
            .col-6.col-center
              .article__title.h2-title Борьба с синдромом Кесслера — что предлагают отечественные специалисты?
              .article__paragraph.p-main
                p Эксперты полагают, что в скором времени Земля станет похожа на Юпитер или Сатурн, обзаведясь кольцами. Но если у других планет они состоят из льда и пыли, в нашем случае речь идет о кольцах из мусора.
        
        .section__image
          img(src='img/background_4-3.jpg' srcset='img/background_4-3@2x.jpg 2x')

      
      // magic section (scroll as X)
      .magic-section(js-scrollmagic-container)
        .magic-section__holder
          .container
            .magic-section__scrollable(js-scrollmagic-x)
              .col-6
                .p-main
                  p На сегодняшний день специалисты из разных стран отслеживают траектории полета порядка 17 000 тел, бороздящих космическое пространство, из них только около 1 000 представляют собой рабочие аппараты, остальное — мертвые спутники, ступени от ракет и другие отходы технологического прогресса. История загрязнения космоса берет свое начало в 1961 году — тогда в рамках проекта «Вестфорд» американские ученые разбросали по орбите 480 млн тонких медных проволок-диполей, призванных отражать радиоволны. Проект подвергся критике и вскоре был закрыт, а большая часть иголок в последующие десятилетия сошла с орбиты, однако по состоянию на 2016 год все еще можно было наблюдать за 38 комками, не развалившимися первоначально
              .col-6
                .p-main
                  p Свою лепту в засорение внесли и ученые из Китая: в 2007 году они испытали противоспутниковое оружие, выбрав в качестве мишени собственный спутник «Фэнъюнь-1С». В результате космос заполнили сотни тысяч мелких осколков, способных повредить обшивку кораблей. В тот же год российские космонавты обнаружили отверстие, «похожее на пулевое», оставленное частицей размером в несколько миллиметров, столкнувшейся с аппаратом на космической скорости. Это, конечно, еще не катастрофа, но когда МКС не удается увернуться от летящего навстречу мусора, космонавты занимают места в пристыкованном корабле «Союз», чтобы в случае ЧП покинуть место происшествия.
              .col-6
                .p-main
                  p Неконтролируемый рост мусора получил название в честь консультанта NASA, первым описавшим его - Дональда Кесслера. И у российских ученых есть свои идеи насчет того, как бороться с загрязнением. В 2017 году специалисты из НИИ ядерной физики МГУ разработали ультрафиолетовый радар, который поможет обнаружить космический мусор с борта МКС. В ближайшие несколько лет его планируют установить на российском модуле «Звезда».
      
      // section
      .h100-section
        .h100-bg
          img(src='img/background_3-2.jpg' srcset='img/background_3-2@2x.jpg 2x')
        
        // content
        .h100-section__content
          .container
            .h100-section__content-wrapper
              .row
                .col-6.col-center
                  .article__paragraph.article__paragraph--pr.p-main
                    p Еще один уникальный проект, вновь рожденный в стенах МГУ, предполагает создание робота-мусорщика, автоматически собирающего обломки и осколки. Он будет состоять из крупного спутника и двух небольших, соединенных с ним при помощи тросов. В идеале «мусорщик» сможет ловить объекты и скидывать их в плотные слои атмосферы, где они сгорят. При этом система будет полностью автономной — контроль с Земли не потребуется. Ученые уже представили математическое моделирование с учетом самых разнообразных факторов космического полета. Теперь дело за реализацией.

                                    
