---
title: Секция 3
bodyClass: homepage
---
extends shared/_layout

block content

  // ARTICLE
  .article
    .article__navigation(data-animation="fade" data-delay="3300")
      a(href="section-2.html" js-nav-back).article__back
        +svgMono('back')
      a(href="homepage.html" js-nav-close).article__close
        +svgMono('close')
    
    // regular section
    .section
      .section__content.content-spacer
        .container
          .col-6.col-center
            .article__title.h2-title Российские ученые изобрели самый крупный космический радиотелескоп в мире
            .article__paragraph.p-main
              p В 2011 году на орбиту Земли были запущена космическая обсерватория «РадиоАстрон», позволившая сделать ряд уникальных открытий и поставить под сомнение некоторые существующие теории. Разрешение радиотелескопа — самого крупного из тех, что есть сегодня в мире — в 1 000 раз превосходит «Хаббл». Он позволяет астрономам получить самую точную картину об источниках электромагнитного излучения, разбросанных по Вселенной.
              
      .section__image
        img(src='img/image_5.jpg' srcset='img/image_5@2x.jpg 2x')
    
    // section
    .section
      // background
      .h100-bg
        img(src='img/background_4-2.jpg' srcset='img/background_4-2@2x.jpg 2x')
      
      // content
      .section__content.content-spacer
        .container
          .col-6.col-center
            .article__paragraph.p-main.ta-left
              p Развитие радиоастрономии началось в середине ХХ века, а уже в 60-е годы советские ученые разработали первые радиоинтерферометры со сверхдлинными базами, объединяющие наблюдения сразу нескольких телескопов, тем самым имитируя единый сверхтелескоп. Тогда же родилась идея о том, что изображение будет несравнимо четче и детальнее, если один из телескопов, задействованных в цепи, вынести непосредственно в космос. 
              p Именно по такому принципу работает «РадиоАстрон», основной компонент которого — космический аппарат «Спектр-Р», созданный в НПО им. Лавочкина. Расшифровка всего объема полученной информации занимает определенное время, но с помощью «РадиоАстрона» ученым уже удалось составить карту внегалактических радиоисточников. За 7 лет работы российский космический телескоп позволил увидеть источники космических мазеров, измерить яркость квазара (которая превысила допустимый максимум, установленный до этого), а также получить детальные снимки черных дыр. 
              p Ученые продолжают работать над усовершенствованием системы, в том числе в 2019 году на орбиту будет выведен «Спектр-РГ» — российско-германская орбитальная астрофизическая обсерватория, способная сделать полный обзор неба с рекордной чувствительностью. Аппарат оборудован двумя рентгеновскими телескопами с оптикой косого падения — ART-XC и eRosita; он должен пролить свет на эволюцию галактик.


            .hold-next.hold-next--inline.pt100
              .hold-next__icon(js-hold-to-next data-next-page="section-4.html")
                .hold-next__icon-dot
              .hold-next__title Нажмите и держите
    
