include ../utilities/_mixins
doctype html
html(lang="en")
  head
    include _head

  body.specialproject.subpage
    block preloader
      include ../components/_preloader
      
    // place where pjax bindings happen's
    #barba-wrapper
      // what should be changed with every pjax
      .page
        include ../components/_bg-lines
        block content
          
      block scripts
        include _scripts
