.bg-lines
  position: relative
  z-index: 2
  pointer-events: none
  user-select: none
  will-change: opacity
  &__line
    position: fixed
    top: 0
    bottom: 0
    background: rgba(white, .08)
    width: 1px
    z-index: 8
    backface-visibility: hidden
    &--first
      left: 12%
    &--second
      left: 30%
    &--third
      left: 50%
    &--fourth
      left: 68%
    &--fifth
      left: 86%

+r($md)
  .bg-lines
    display: none
