.links
  &__grid
    display: flex
    margin-left: -10px
    margin-right: -10px
  &__col
    flex: 0 1 20%
    max-width: 20%
    min-width: 1px
    padding-left: 10px
    padding-right: 10px
  a
    display: inline-block
    font-size: 13px
    font-weight: 500
    line-height: 1.53
    span
      border-bottom: 2px solid rgba($colorRed, .5)
      transition: border .3s $easeDefault
    &:hover
      span
        border-color: $colorRed
