.page
  // the most parent element

.h100-section
  position: relative
  z-index: 1
  min-height: 100vh
  width: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  &__content
    position: relative
    z-index: 2
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 90px 0
    .container
      flex: 1 1 auto
      display: flex
      flex-direction: column

  &__content-wrapper
    position: relative
    margin-top: auto
    margin-bottom: auto
    &--top
      margin-top: 0


.h100-bg
  position: absolute 0
  z-index: 1
  font-size: 0
  transform-origin: center center
  img
    object-fit: cover
    width: 100%
    height: 100%
  &--origin-rb
    transform-origin: right bottom
  &--origin-lb
    transform-origin: left bottom
  &--origin-rt
    transform-origin: right top
  &--origin--lt
    transform-origin: left top
  &--align-bottom
    img
      object-position: center bottom

.section-fixed
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  will-change: transform
  backface-visibility: hidden
  // height to be set with js

.section-scrollable
  position: relative
  z-index: 9
  // exact padding to be set with js
  margin-top: 100vh
  background: #191919
  // will-change: transform
  backface-visibility: hidden
  transform-style: preserve-3d
  // perspective: 1000
  // transition: transform .1s linear


// regular section
.section
  background: black
  position: relative
  z-index: 1
  // display: flex
  // flex-direction: column
  &__content
    position: relative
    z-index: 2
    padding: 90px 0 50px
    &--no-pt
      padding-top: 0 !important

  &__image
    font-size: 0
    img
      width: 100%

  &--mfix
    margin-top: -20px

.content-spacer
  padding: 150px 0 140px

.content-bottom-250
  padding-bottom: 250px

// magic section
.magic-section
  position: relative
  &__holder
    position: relative
    z-index: 2
    padding: 260px 0 240px
    // background-image: linear-gradient(-180deg, #162333 0%, #000000 100%)
  &__scrollable
    display: flex
    // will-change: transform
    backface-visibility: hidden
    transform-style: preserve-3d
    .col-6
      flex: 0 0 auto
      margin-right: 150px


.pt100
  padding-top: 100px
  +r($md)
    padding-top: 50px


@media screen and (max-width: 992px), screen and (max-height: 700px)
  .h100-section
    &__content
      padding: 80px 0

  .section
    &__content
      padding: 80px 0

+r($md)
  .h100-section
    &__content
      padding: 80px 0 55px
      &--mobile-0
        padding-top: 0
        padding-bottom: 0

    &__content-wrapper
      margin-top: 0

    &--not-mobile
      min-height: 1px

  .section
    &__content
      padding: 80px 0 55px
      &--mobile-0
        padding-top: 0
        padding-bottom: 0

    &__image
      &--fit-mobile
        margin-left: -25px
        margin-right: -25px

  .h100-bg
    &--mobile-align-top
      img
        // object-fit: scale-down
        object-position: left top

  .section-fixed
    position: relative
    top: auto
    bottom: auto
    overflow: hidden

  .section-scrollable
    margin-top: 0 !important

  // TODO - highly likelly refactor
  // should overwrite section__content
  // but section count be first or in the middle
  .content-spacer
    padding: 80px 0 55px
    &--not-mobile
      padding-top: 20px
      padding-bottom: 20px

  .section__content
    &--mobile-t40
      padding-top: 40px


  .magic-section
    &__holder
      padding: 60px 0 1em
    &__scrollable
      display: block

  .bg-mobile
    // .h100-bg overwrites
    bottom: auto
    img
      object-fit: fill
      // object-fit: contain
      height: auto
      width: auto
      // width: 100%
      // height: 100%
    &--536
      // height: 536px
      img
        min-width: 856px
    &--395
      // height: 395px
      img
        width: 100%
        min-width: 631px
    &--500
      img
        width: 100%
        min-width: 638px
    &--583
      img
        width: 100%
        min-width: 664px

+r($sm)
  .h100-bg
    &--hide-mobile
      display: none
    &--ml20-mobile
      img
        margin-left: -20%
        width: 120% !important

  .section
    &__content
      &--no-pb-mobile
        padding-bottom: 0
