.page
  // the most parent element

.h100-section
  position: relative
  z-index: 1
  min-height: 100vh
  width: 100%
  overflow: hidden
  display: flex
  flex-direction: column
  &__content
    position: relative
    z-index: 2
    flex: 1 1 auto
    display: flex
    flex-direction: column
    padding: 90px 0
    .container
      flex: 1 1 auto
      display: flex
      flex-direction: column

  &__content-wrapper
    margin-top: auto
    margin-bottom: auto


@media screen and (max-width: 992px), screen and (max-height: 700px)
  .h100-section
    &__content
      padding: 70px 0

+r($md)
  .h100-section
    &__content
      padding: 70px 0


.h100-bg
  position: absolute 0
  z-index: 1
  font-size: 0
  transform-origin: center center
  img
    object-fit: cover
    width: 100%
    height: 100%
  &--origin-rb
    transform-origin: right bottom
  &--origin-lb
    transform-origin: left bottom
  &--origin-rt
    transform-origin: right top
  &--origin--lt
    transform-origin: left top


.section-fixed
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  will-change: transform
  backface-visibility: hidden
  // height to be set with js

.section-scrollable
  position: relative
  z-index: 9
  // exact padding to be set with js
  margin-top: 100vh
  background: #191919
